{% extends 'texts/base.html' %}
{% block content %}
<div class="nav">
	<p><a href="{% url 'home' %}">Home</a> > Fulfillment</p>
</div>
<h1>Fulfillment system</h1>
<h2><a href="{% url 'select-date' %}">Download deliveries CSVs</a></h2>
<h2><a href="{% url  'drop-off' %}">Create route documents</h2>
{% endblock %}