{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Healthcare Fulfillment Sheets</title>
        <link rel="stylesheet" href="{% static 'routes/css/print.css' %}">
    </head>
    <body>
        {% for route in order.values %}
            {% for visit in route %}
            <div class="order">
            <div class="client-info">
                    <div id="date"><p>{{ visit.delivery_date }}</p></div>
                    <div id="time"><p>{{ visit.deliverytime }}</p></div>
                    <div id="route"><p>Route</p></div>
                    <div id="stop"><p>Stop</p></div>
                    <div id="box-type"><h1>{{ visit.box_type }}{% if visit.dairyfree == 'Yes' %}**{% endif %}</h1></div>
                    <div id="menu"><h1>{{ visit.box_menu }}</h1></div>
                    <div id="box-size"><h1>{{ visit.box_size }}</h1></div>
                    <div id="route-name"><h1>{{ visit.route }}</h1></div>
                    <div id="stop-number"><h1>{{ visit.stop_num }}</h1></div>
                    <div id="adjustments"><p>Adjustments</p></div>
                    <div id="health-plan"><p>Health Plan</p></div>
                    <div id="health-plan-text"><p>{{ visit.healthcare_partner }}</p></div>
                    <div id="adjustment-text">
                    </div>
                    <div id="member-id"><p>Member ID</p></div>
                    <div id="member-id-text"><p>{{ visit.member_id }}</p></div>
                    <div id="main-contact"><p>Main Contact</p></div>
                    <div id="main-contact-text"><p>{{ visit.maincontact }}</p></div>
                </div>
                <div id="delivery-notes">
                    <p>{{ visit.delivery_notes }}</p>
                </div>
                <div id="products">
                    {% for rack_name, rack in visit.racks.items %}
                    {% if rack_name == 'Frozen' %}
                    <div id="beam"><p>Pack day of</p></div>
                    {% endif %}
                    <div id="rack-name">
                        <p>{{ rack_name }}
                            {% if rack_name == 'Frozen' %}
                            — FROZEN BIN {{ visit.labels }}
                            {% endif %}
                        </p>
                    </div>
                    <div id="quantity">
                        <p>Quantity</p>
                    </div>
                        {% for share in rack.shares %}
                        <div id="item-code">
                            <p>{{ share.item.item_code }}</p>
                        </div>
                        <div id="description">
                            <p>{{ share.item.description }}</p>
                        </div>
                        <div id="quantity-text">
                            <p>{{ share.quantity }}</p>
                        </div>
                        <div id="check"></div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}

            <div id="info-line">Gleaners Healthcare Programs Warehouse Fulfillment Ticket</div>
        </div>
        {% endfor %}
    <script>
        const wait = (delay = 0) =>
            new Promise(resolve => setTimeout(resolve, delay));

        const setVisible = (elementOrSelector, visible) => 
            (typeof elementOrSelector === 'string'
                ? document.querySelector(elementOrSelector)
                : elementOrSelector
            ).style.display = visible ? 'block' : 'none';

        setVisible('.page', false);
        setVisible('#loading', true);

        document.addEventListener('DOMContentLoaded', () =>
            wait(1000).then(() => {
                setVisible('.page', true);
                setVisible('#loading', false);
            }));
    </script>
    </body>
</html>