{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Secundarius</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/skeleton.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
			{% if user.is_authenticated %}
			<p><a href="{% url 'change-password' %}">Change your password</a></p>
			<p><a href="{% url 'logout' %}">Log out</a></p>
			{% else %}
			{% endif %}
		</div>
	</body>
</html>